# Ignorar arquivos compilados
__pycache__/
*.py[cod]

# Ignorar configurações de IDEs
.vscode/
.idea/

# Ignorar arquivos de pacotes e logs
*.log
*.sqlite3

# Ignorar o ambiente virtual
.env/

# Ignorar arquivos de mídia
htmlcov/

# Ignorar arquivos de testes
.coverage
coverage.xml

# Ingorar arquivos de banco de dados
test_tasks.db