<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Expense Notification</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Expense Notification</h1>
        </div>
        <div class="content">
            <p>Dear <strong>{{name}}</strong>,</p>
            <p>We want to notify you about a new expense titled <strong>{{title}}</strong>.</p>
            <p><strong>Details:</strong></p>
            <p>Amount: <strong>{{amount}}€</strong></p>
            <p>Deadline: <strong>{{deadline_date}}</strong></p>
            <p>You can review and process this expense, along with the related invoice, directly on the <strong>Home Harmony</strong> platform.</p>
            <div class="cta">
                <a href="https://homeharmony.example.com" target="_blank">Access Your Account Now!</a>
            </div>
            <p>If you have any questions or need assistance, our team is here to help. Feel free to contact us at <a href="mailto:homeharmony2024es@gmail.com">homeharmony2024es@gmail.com</a>.</p>
        </div>
        <div class="footer">
            &copy; 2025 Home Harmony. All rights reserved.<br>
        </div>
    </div>
</body>
</html>
