<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Tenant Payment Received</title>
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Payment Received</h1>
        </div>
        <div class="content">
            <p>Dear <strong>{{name}}</strong>,</p>
            <p>We are excited to inform you that a payment has been received from your tenant <strong>{{tenant_name}}</strong>.</p>
            <p><strong>Payment Details:</strong></p>
            <ul style="list-style-type: none; padding: 0;">
                <li><strong>Expense:</strong> {{expense_name}}</li>
                <li><strong>Amount:</strong> {{amount}}€</li>
                <li><strong>Property:</strong> {{house_name}}</li>
            </ul>
            <p>If you have any questions or need further assistance, please feel free to reach out to us.</p>
        </div>
        <div class="footer">
            &copy; 2025 Home Harmony. All rights reserved.<br>
        </div>
    </div>
</body>
</html>
